{% extends 'base.html' %}
{% load static % }
{% block body_block %}


<div class="password-reset-container">
	<div class="d-flex flex-column">
  {% if validlink %}
    <h3>Change password</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-lg btn-light" type="submit">Change password</button>
    </form>

  {% else %}
    <p>The password reset link was invalid - this means it may have already been used.</p>
    <p>Please request a new password reset link.</p>

  {% endif %}
  </div>
</div>

{% endblock %}
