{% extends 'base.html' %}
{% load static % }
{% block body_block %}

<div class="password-reset-container">

	<div class="d-flex flex-column">
		  <p>We've emailed you instructions for resetting your password; you should receive them shortly.</p>
		  <p>If you don't receive an email, please make sure you've entered the address you registered with,
		    and check your spam folder.</p>

				<div class="return d-flex flex-column">
				  <a class='m-auto' href="{% url 'home' %}">Return to home page</a>
				</div>

	</div>

</div>

{% endblock %}
