{% extends "base.html" %}
{% block body_block %}

<div class="content-container">

  {% if messages %}
    {% for message in messages %}
      <p id="duplicate_alert">{{message}}</p>
    {% endfor %}
  {% endif %}

  <h2 class="create-update-header">Add Box</h2>

  <div class="form-container">
    <form method="POST">
      {% csrf_token %}
      {% for field in add_box_form %}
        <p>Box Number : <input type="number" min="0" max="20" name="box_number" value="1" required></p>
      {% endfor %}


    <input type="submit" class="btn btn-light btn-lg" value="Submit">

    <a href="{% url 'park_summary' park_id %}"><svg viewBox="0 0 16 16" class="back_arrow bi bi-arrow-left-square-fill">
      <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.354 10.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L6.207 7.5H11a.5.5 0 0 1 0 1H6.207l2.147 2.146z"/>
    </svg></a>

  </div>
</div>

{% endblock %}
