{% extends "base.html" %}
{% block body_block %}

<div class="content-container">

  <h1 class="dashboard-header">My Parks</h1>
    {% if user_park_list %}
      {% for park in user_park_list %}

        <div class="park_list_container">
          <p><a class='m-auto' href="{% url 'park_summary' park.park_name_id %}">
            <svg id="tree" viewBox="0 0 16 16" class="bi bi-tree-fill">
            <path fill-rule="evenodd" d="M8 0a.5.5 0 0 1 .416.223l3 4.5A.5.5 0 0 1 11 5.5h-.098l2.022 3.235a.5.5 0 0 1-.424.765h-.191l1.638 3.276a.5.5 0 0 1-.447.724h-11a.5.5 0 0 1-.447-.724L3.69 9.5H3.5a.5.5 0 0 1-.424-.765L5.098 5.5H5a.5.5 0 0 1-.416-.777l3-4.5A.5.5 0 0 1 8 0z"/>
            <path d="M7 13h2v3H7v-3z"/>
            </svg> {{ park }}</a></p>
        </div>

       {% endfor %}

    {% else %}
      <p id="no-items-notice">You don't have any parks yet! </p>
    {% endif %}

    <a href="{% url 'add_park' %}"><button class="btn btn-lg btn-light">Add Park!</button></a>

</div>

{% endblock %}
